
/*MAIN*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #99E2D0;
    font-family: 'Roboto-regular';
}

/*BLOC AND INSIDE BLOC*/

.bloc__content {
    width: 100%;
    background-color: white;
    margin: 0 auto;
}

a {    
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}
a:visited {
    color: inherit;
}